/DESCRIPTION.bbl
/DESCRIPTION.blg
/DESCRIPTION.dvi
/DESCRIPTION.pdf
/DESCRIPTION.tex
/DESCRIPTION.tex~
/DESCRIPTION~
/blueprint.org~
/3b merge.ess.for.selected.variables.R
/R/#attrs.as.factor.R#
*#$
/blueprint.bbl
/blueprint.blg
/blueprint.dvi
/blueprint.odt
/blueprint.pdf
/blueprint.tex
/blueprint.tex~
/man/#blueprint.Rd#
/R/blueprint.R.~master@{4_hours_ago}~
/R/blueprint.R.~master~
/R/blueprint.R~
/R/attrs.as.factor.R~
/R/#load.and.recode.R#
/R/#blueprint.R#
/.DS_Store
/testcode.R~
/man/load.blue.Rd~
/man/blue.Rd~
